body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
 font-weight: 600;
  
    
}

.footer-background{
    background-color:#150F1A;
}

.copyright{
    background-color: #100d12;
}

.btn1{
    background: none;
    border: 2px solid #6B54B6;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    color: white;   
    transition: color 0.4 linear()
}


.btn1{

}