.about_col_bg_img-1{
    background-image: url('../../Asserts/box-1-bg.jpg');
}
.about_col_bg_img-2{
    background-image: url('../../Asserts/box-2-bg.jpg');
}
.about_col_bg_img-3{
    background-image: url('../../Asserts/box-3-bg.jpg');
}