
.flex-container{
    display: flex;
    border: 2px solid rgb(255, 0, 0);
    flex-wrap: wrap;
    /* height: 50vh; */
    /* flex-direction:row; */
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
}

.flex{
    background-color: orange;
    border: 2px solid black;
    margin: 5px;
    height: 50px;
    width: 190px;
}

.item4{
    order:1;
    flex:4 5 50%;
}